###############################################################################
## File Transfer DXL Python service settings
###############################################################################

[General]

# Directory under which to store files (required, no default)
storageDir=

# Name of the topic to register with the DXL fabric for the file store
# request handler. (optional, defaults to
# "/opendxl-file-transfer/service/file-transfer/file/store")
;storeTopic=/opendxl-file-transfer/service/file-transfer/file/store

# Working directory under which files (or segments of files) may be stored in
# the process of being transferred to the 'storageDir' (optional, defaults to
# "<storageDir>/.workdir")
;workingDir=<storageDir>/.workdir

###############################################################################
## Settings for thread pools
###############################################################################

[MessageCallbackPool]

# The queue size for invoking DXL message callbacks
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to invoke DXL message callbacks
# (optional, defaults to 10)
;threadCount=10

[IncomingMessagePool]

# The queue size for incoming DXL messages
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to handle incoming DXL messages
# (optional, defaults to 10)
;threadCount=10
